.body-class {

    background-color: rgb(189, 206, 206);

}

.container {
    margin-top: 30px;
}

.nav {

    margin-bottom: 15px;
    text-align: center;
}

p {
    color: white;
}

#h1-nav-id {
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 910px;
    display: block;
    justify-content: center;
    font-size: 40px;
    color: black;
}

#h1-input-form-id {
    color: black;
    font-size: 30px;

}


#display-jumbotron-h1 {
    margin-top: -25px;
    font-size: 40px;
    text-align: center;

}

#weather-info {
    text-align: center;
}

#city-btn {
    width: 100%;
}

#h2-id {

    text-align: center;

}

#weather-date-1,
#weather-date-2,
#weather-date-3,
#weather-date-4,
#weather-date-5 {
    font-size: 14px;
    font-weight: bold;
    color: white;

}

li {

    list-style: none;
    margin-top: 5px;
}

.list-group {
    margin-top: 5px;

}



/* .card {
    width: 165px;
    font-size: 14px;
} */

.jumbotron {
    height: 350px;
}


#div-card {

    width: 280px;
}

.card-group:nth-child() {
    width: 1500px
}



.jumbotron-div-id {

    width: 650px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 15px;
}

#btn-id {
    margin-top: 5px;

}

/* <h3>Temp: ${getTemp}</h3>
<img src="https://openweathermap.org/img/wn/${
  getData[i].weather[0].icon
}@2x.png" />
<h4>windspeed${getData[i].wind.speed}</h4>
<h4>humidity${getData[i].main.humidity}</h4>
<h4>${getData[i].weather[0].description}</h4>
</div>`; */